{% extends 'web/partials/base.html' %}	
{% load static %}
{% block content  %}
    <link rel="stylesheet" href="{% static 'web/css/right.css' %}">
</head>
<body>

<br><br><br><br><br>
    <section class="kotw">
        <div class="rigt">
            <img src="{% static 'web/img/pngwing.com(34).png' %}" alt="">
        </div>

        <div class="rigt2">
            <p >Thank You Ordering in Our Stare. You Will Receieve. A Confirmation Email Shartiy.</p>
        </div><br>

        <div class="rigt3">
            <button class="contew" style=" background: #02b620;">Contineue Shopping</button>
        </div>

    </section>

    <br><br><br><br><br>

    
</body>
</html>

{% endblock %}